@media screen and (min-width: 1366px) {
.whoop-common.whoop-featured .featured-header-wrap .geodir-search-container {width: 100%;}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
.whoop-common.whoop-featured.whoop-not-logged-user header#site-header .whoop-header-nav{width: 30%}
.whoop-common.whoop-logged-user .whoop-author-content .author-Profile-picture {margin-right: 30px;}
.whoop-common.whoop-featured.whoop-not-logged-user nav#primary-nav {width: 70%;}
}

@media screen and (max-width: 1024px) {
.whoop-common.whoop-featured .featured-header-wrap .geodir-search-container {width: 100%;margin: 0 auto;}
.whoop-common.whoop-featured .featured-header-wrap {width: 80%;padding: 0;}
}

@media screen and (max-width: 992px) {
.whoop-common.whoop-featured .whoop-header-nav {float: right;}
.whoop-common.whoop-featured.whoop-not-logged-user .whoop-header-nav {display: none;}
.whoop-common.whoop-featured .whoop-header-nav ul.menu {margin: 20px 0 0 0; width: 80%;}
.whoop-common.whoop-featured .featured-header-wrap .geodir-search-container {width: 100%;}
.whoop-common.whoop-featured .featured-header-wrap {width: 80%;padding: 0;}
.whoop-common .site-header,.whoop-common .site-header .container{overflow: visible;position: relative;}
.whoop-common.whoop-common-header header#site-header .whoop-common-page-menu .container {position: unset;min-height: 0;}
.whoop-common.whoop-common-header header#site-header .whoop-common-page-menu .dt-nav-toggle {right: 40px !important;top: 20px;}
.whoop-common.whoop-common-header header#site-header .ds-child-header-search .geodir-search-container {width: 100%;}
.whoop-common.whoop-common-header header#site-header .ds-child-header-search .whoop-header-nav {width: 100%;text-align: center;}
.whoop-common.whoop-common-header.whoop-logged-user header#site-header .ds-child-header-search .geodir-search-container {width: 80%;}
.whoop-common.whoop-logged-user .whoop-author-content .author-Profile-picture {margin-right: 20px;width: 25%;}
.whoop-common .geodir-loop-container ul.geodir-category-list-view li {width: 100% !important;margin: 0 !important;text-align: left;}
.whoop-common .whoop-author-content .author-listing .whoop-user-listing .whoop-list-view-select {display: none;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul,.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul {width: 100%;}
.whoop-common nav#mm-primary-nav ul li a.mm-subopen {width: 20%;border: 0px;}
.whoop-common nav#mm-primary-nav ul li a.mm-subopen:before {border-width: 0px;}
.whoop-common.whoop-common-header header#site-header .ds-child-header-search {width: 86%;}
}

@media screen and (max-width: 720px) {
body .geodir-listing-search.gd-search-bar-style .geodir-loc-bar .clearfix.geodir-loc-bar-in .geodir-search .gd-search-input-wrapper {width: 100%;flex: auto;}
.whoop-common.whoop-common-header header.site-header .site-logo-wrap {width: 100% !important;}
.whoop-common.whoop-common-header header.site-header .ds-child-header-search {margin: 0 auto;width: 100% !important;}
.whoop-common.whoop-common-header header#site-header {position: relative;}
.whoop-common.whoop-common-header header.site-header .ds-child-header-search .whoop-header-nav {position: absolute;top: 5px;right: 50px;}
.whoop-common.whoop-common-header header.site-header .ds-child-header-search .geodir-search-container {margin: 0 auto !important;float: none !important;}
.whoop-common.whoop-common-header.whoop-not-logged-user header.site-header .ds-child-header-search .whoop-header-nav {position: relative;right: 0;top: 0;}
.whoop-common.whoop-logged-user .whoop-author-content .author-Profile-picture {width: 100%;float: none;}
.whoop-common.whoop-logged-user .whoop-author-content .author-Profile-picture img {width: 25%;margin: 0 auto;display: block;}
.whoop-common.whoop-logged-user .whoop-author-content {text-align: center;}
.whoop-common.whoop-logged-user .whoop-author-content .author-Profile-info {margin: 20px auto;width: 100%;}
}

@media screen and (max-width: 640px) {
.whoop-common.whoop-featured .featured-header-wrap .popular-category ul.cat-menu li {width: 45%;margin: 0 5px;}
.whoop-common.whoop-featured .featured-header-wrap .popular-category ul.cat-menu li a {width: 100%;display: block;margin: 0;}
.whoop-common.whoop-common-header.whoop-not-logged-user header.site-header .ds-child-header-search .whoop-header-nav {position: relative;width: 100% !important;margin: 0 auto;text-align: center !important;float: none !important;top: 0;right: auto;}
}

@media screen and (max-width: 600px) {
.whoop-common.whoop-featured .whoop-header-nav {margin-top: 40px;}
.whoop-common.whoop-featured .dt-nav-toggle {top: 65px;}
.whoop-common.whoop-featured .whoop-header-nav ul.menu {width: 100%;}
.whoop-common.whoop-common-header.whoop-logged-user header#site-header .ds-child-header-search .whoop-header-nav {width: 20% !important;}
.whoop-common .whoop-author-content .author-listing .whoop-user-listing .geodir-loop-container ul.geodir-category-list-view.list-view li .whoop-post-left {width: 100%;margin: 0;padding: 0;}
.whoop-common .whoop-author-content .author-listing .whoop-user-listing .geodir-loop-container ul.geodir-category-list-view.list-view li .whoop-post-right {width: 100%;margin: 0;padding: 0px;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li .post-title a {margin: 0;width: 55%;font-weight: bold;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;display: block;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div.review-post a {margin: 0;width: 55%;font-weight: bold;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;display: block;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div.review-comment p {margin: 0;width: 55%;font-weight: bold;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;display: block;}
}

@media screen and (max-width: 480px) {
.whoop-common.whoop-featured .featured-header-wrap .popular-category ul.cat-menu li {width: 100%;margin:5px 0px;padding: 0px;}
.whoop-common.whoop-featured .featured-header-wrap .popular-category ul.cat-menu li a {width: 100%;display: block;margin: 0;}
.whoop-common.whoop-featured .whoop-header-nav{width: 30%}
.whoop-common.whoop-common-header.whoop-logged-user header#site-header .ds-child-header-search .whoop-header-nav {width: 25% !important;right: auto;left: 15px;}
.whoop-common.whoop-common-header.whoop-logged-user header#site-header ul.menu li.nav-account .account-panel {right: auto;left: 10px;}
.whoop-common.whoop-common-header.whoop-logged-user header#site-header ul.menu li.nav-account .account-panel:before {right: auto;left: 10px;}
.whoop-common .geodir-loop-container ul.geodir-category-list-view li .whoop-post-right .post-title {width: 100%;}
.whoop-common .geodir-loop-container ul.geodir-category-list-view li .whoop-post-right  .review-html,.whoop-common .geodir-loop-container ul.geodir-category-list-view li .whoop-post-right .post-favorite-list,.whoop-common .geodir-loop-container ul.geodir-category-list-view li .whoop-post-right  .post-date {position: relative;right: auto;top: auto;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li .post-thumb {width: 100% !important;height: auto !important;margin: 0px;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li .post-thumb img {width: 30% !important;height: auto !important;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li .post-title {float: left;width: 100%;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li  .post-time {position: relative;bottom: auto;right: auto;text-align: left;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li  .post-fav {position: relative;top: auto;right: auto;text-align: left;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li div {text-align: center !important;display: block;margin: 10px 0;}
.whoop-common .whoop-author-content .author-Profile-info .gd-author-listing ul {width: 50%;display: block;margin: 0 auto;}
.whoop-common .whoop-author-content .author-Profile-info .gd-author-listing ul li {display: block;width: 100%;border: 0;padding: 0;margin: 10px 0;}
.whoop-common .whoop-author-content .author-Profile-info .gd-author-listing ul li a {background: #FFF;display: block;padding: 10px;border-radius: 5px;border: 1px solid #CCC;box-shadow: 0 0 19px #CCC;}
.whoop-common .whoop-author-content .author-listing .whoop-user-favourite ul li .post-title a{width: 80%}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div {width: 100%;position: relative;right: auto;left: auto;text-align: center;margin: 10px 0;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li .user-pic img {width: 30% !important;height: auto !important;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div.comment-stars {margin: 0;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div.review-post a {width: 100%;}
.whoop-common .whoop-author-content .author-listing .whoop-user-reviews ul li div.review-comment p {width: 100%;}
}

@media screen and (max-width: 320px) {
.whoop-common.whoop-common-header.whoop-logged-user header#site-header .ds-child-header-search .whoop-header-nav{width: 30% !important; }
}