.site-header-hero{
  #whoop-hero{
    background: #000;
    .whoop-hero-image{
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: auto;
      filter: brightness(50%);
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      &.whoop-fade-in{
        opacity: 1;
      }
    }
  }
}