.gd-rating-wrap{
  .gd-rating-background{
    .fas{
      &.fa-stop{
        &:after{
          content: "\f005";
          margin-left: 3%;
          zoom: 0.5;
          vertical-align: middle;
          color: #fff;
          position: absolute;
          top: 50%;
          display: block;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
}